*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 44px;
}

h2{
    font-family: 'Righteous', cursive;
    font-size: 27px;
    margin-bottom: 17px;
    margin-left: 19px;
}

h3{
    font-size: 16px;
    font-weight: 700;
}

h4{
    font-size: 16px;
    font-weight: 400;
}

p{
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
}

img{
    width: 144px;
}



.webpage{
    width: 414px;
    background-color: #e5e5e5;
    padding-bottom: 16px;
    margin: 0 auto;
}

.top{
    width: 414px;
    height: 92px;
    background-color: #CF2B2B;
    box-shadow: 0 0 5px;
    position: fixed;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topText{
    margin-left: 18px;
}

.top p{
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.sections{
    padding-top: 31px;
    margin: 92px 0;
}

.menu{
    margin-bottom: 27px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    padding: 0 3px;
}

.menu::-webkit-scrollbar{
    display: none;
}

.option{
    height: 216px;
    margin-left: 16px;
    padding: 18px;
    background-color: #ffffff;
    box-shadow: 0 0 3px rgb(189, 183, 183);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid #32B72F;
    border: hidden;
}

.icon{
    color: #32B72F;
    display: none;
}

.priceAndIcon{
    display: flex;
    justify-content: space-between;
}

.option p{
    max-width: 144px;
}

.base{
    height: 92px;
    width: 414px;
    position: fixed;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

button{
    width: 364px;
    height: 61px;
    border: transparent;
    border-radius: 50px;
    background-color: #cbcbcb;
}

button p{
    font-size: 20px;
    font-weight: 400;
    color: white;
}